{% extends "auctions/layout.html" %}

{% block body %}

    {% comment %} User is Authenticated {% endcomment %}
    {% if user.is_authenticated and listing.close_date is None %}

        {% comment %} User is a Client {% endcomment %}
        {% if user != listing.user %}

            {% comment %}  Watchlist Form {% endcomment %}
            <form action="{% url 'watchlist' %}" method="POST">
                {% csrf_token %}
                {% if watching %}
                    <input type="submit" class="btn btn-danger" value="Remove from Watchlist">
                    <input type="hidden" name="watching" value="True">
                {% else %}
                    <input type="submit" class="btn btn-success" value="Add to Watchlist">
                    <input type="hidden" name="watching" value="False">
                {% endif %}
                <input type="hidden" name="listing_id" value={{listing.id}}>
            </form>

        {% comment %} User is Seller {% endcomment %}
        {% else %}
            {% comment %} Close auction Form {% endcomment %}
            <form action="{% url 'close' %}" method="POST">
                {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Close Listing">
                    <input type="hidden" name="closed" value="False">
                <input type="hidden" name="listing_id" value={{listing.id}}>
            </form>
        {% endif %}
    {% endif %}
    <h2>{{listing.item_title}}</h2>
    {% if listing.image_link %}
        <img src="{{ listing.image_link }}" alt="{{ listing.item_title }} image">
    {% endif %}
    <div class="container">
        Bids Made: {{bids_made}} 
        Date Started: {{listing.start_date}}
        Original Price: {{listing.start_price}}
        Seller: {{listing.user}}
        Category: {{listing.category}}
        
        {% comment %} Auction is Closed {% endcomment %}
        {% if listing.close_date is not None %}
            <h4>Auction Closed!</h4>
            Closed on {{listing.close_date}}
            {% if highest_bid is None %}
                No winners!
            {% else %}
                {% if user != highest_bid.user %}
                    Sold by {{highest_bid.bid_value}} to {{highest_bid.user}}!
                {% else %}
                    You won with a bid of {{highest_bid.bid_value}}!
                {% endif %}
            {% endif %}
        {% else %}
            Current Price: {{current_price}}
        {% endif %}

    </div>

    {% if user.is_authenticated and listing.close_date is None %}
        <div class="container"> 
            {% if user != listing.user %}
                <form action="{% url 'bid' %}" method="POST">
                    {% csrf_token %}
                    {{bform}}
                    <input type="submit" class="btn btn-success" value="make bid">
                    <input type="hidden" name="listing_id" value={{listing.id}}>
                </form>
            {% endif %}
        </div>
        <div class="container">
            <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                {{cform}}
                <input type="submit" class="btn btn-success" value="comment">
                <input type="hidden" name="listing_id" value={{listing.id}}>
            </form>
        </div>
    {% endif %}

    <h6>Comments:</h6>
    {% for comment in comments %}
        <p>{{comment.user}} on {{comment.time_sent}}: {{comment.comment_text}}</p>
    {% endfor %}
{% endblock %}