{% extends "auctions/layout.html" %}

{% block body %}

    {% comment %} User is Authenticated {% endcomment %}
    {% if user.is_authenticated and not listing.closed %}

        {% comment %} User is a Client {% endcomment %}
        {% if user.id != listing.user.id %}

            {% comment %}  Watchlist Form {% endcomment %}
            <form action="{% url 'watchlist' %}" method="POST">
                {% csrf_token %}
                {% if watching %}
                    <input type="submit" class="btn btn-danger" value="Remove from Watchlist">
                    <input type="hidden" name="watching" value="True">
                {% else %}
                    <input type="submit" class="btn btn-success" value="Add to Watchlist">
                    <input type="hidden" name="watching" value="False">
                {% endif %}
                <input type="hidden" name="listing_id" value={{listing.id}}>
            </form>

        {% comment %} User is Seller {% endcomment %}
        {% else %}
            {% comment %} close bid {% endcomment %}
        {% endif %}
    {% endif %}
    <h2>{{listing.item_title}}</h2>
    {% if listing.image_link %}
        <img src="{{ listing.image_link }}" alt="{{ listing.item_title }} image">
    {% endif %}
    <div class="container">
        Bids Made: {{bids_made}} 
        Date Started: {{listing.start_date}}
        Seller: {{seller}}
        Category: {{listing.category}}
        
        {% comment %} Audition is Closed {% endcomment %}
        {% if listing.closed %}
            <h4>Audit Closed!</h4>
            {% comment %} Closed Data: highest_bid.bid_date {% endcomment %}
            {% if user.id != highest_bid.user_id %}
                {% comment %} Sold by highest_bid.bid_value to highest_bid.user_id {% endcomment %}
            {% else %}
                {% comment %} You won with a bid of {{highest_bid.bid_value}}! {% endcomment %}
            {% endif %}
        {% else %}
            Original Price: {{listing.start_price}}
            Current Price: {{current_price}}
        {% endif %}

    </div>

    {% if user.is_authenticated and not listing.closed %}
    <div class="container"> 
        {{user.id}}
        {{listing.user_id}}
        {% if user.id != listing.user.id %}
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                {{bform}}
                <input type="submit" class="btn btn-success" value="make bid">
                <input type="hidden" name="listing_id" value={{listing.id}}>
            </form>
        {% endif %}
    </div>
    <div class="container">
        {% comment %} Comments Form {% endcomment %}
    </div>
    {% endif %}
{% endblock %}