{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="profile">
            {{ profile.username }}
            following: {{ nfollowing }}
            followers: {{ nfollowers }}
            date joined: {{ profile.date_joined }}
        </div>
        {% if user.id != profile.id %}
            <div id="follow-form">
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    {% if following %}
                        <input type="submit" class="btn btn-danger" value="Unfollow">
                        <input type="hidden" name="following" value="True">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="Follow">
                        <input type="hidden" name="following" value="False">
                    {% endif %}
                    <input type="hidden" name="profile_id" value={{profile.id}}>
                </form>
            </div>
        {% endif %}
        <div id="message">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
        <div id="view-user">
        </div>
        <nav aria-label="Navigation" id="navigation">
        </nav>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}