<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"> </script>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex justify-content-end">
            <ul class="navbar">
                <div class="container">
                    <li><a href="image.html" class="btn searchbutton">Images</a></li>
                    <li><a href="advanced.html" class="btn searchbutton">Advanced</a></li>
                </div>
            </ul>
        </div>
        <div class="d-flex justify-content-center text-center">
            <div class="container">
                <h1 class="display-2">Goo</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center text-center">
            <div class="container">
                <form action="https://google.com/search">
                    <div class="container">
                        <input type="text" class="btn searchbar" name="q">
                    </div>
                    <div class="container">
                        <input type="submit" class="btn searchbutton" value="Google Search">
                        <input type="submit" class="btn searchbutton" value="I'm Feeling Lucky">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>