.navbar li {
  display: inline-block;
  padding: 10px;
}
.navbar a {
  color: #202124;
  text-decoration: none;
}

.searchbar {
  border-color: #888888;
  border-radius: 20px;
  margin: auto;
  padding: 1%;
}

@media only screen and (max-width: 550px) {
  .searchbar {
    width: 100%;
  }
}

@media (min-width: 551px) {
  .searchbar {
    width: 500px;
  }
}

.searchbutton {
  background-color: #F8F9FA;
  border-style: none;
  margin: 11px 4px;
  padding: 8px 16px;
}
